<main class="position-relative overflow-hidden">
    <div class="position-absolute text-center">
        <h4 class="fw-bold mb-2">Oops Page Not Found</h4>
        <h6 class="mb-0">This page doesn't exist or was removed!</h6>
        <h6 class="mb-4">We suggest you back to term list</h6>
        <button [routerLink]="['/terms']" class="rounded-5 px-5 py-3 border-0"><a class="text-decoration-none fw-bold fs-5 w-100 h-100">Back to Term List</a></button>
    </div>
    
    <!-- <video autoplay muted loop preload class="position-absolute w-100">
        <source src="../../../assets/video/404.mp4" type="video/mp4">
    </video> -->
    <img src="../../../assets/img/404.gif" alt="Not Found" class="position-absolute rounded-5 px-5 py-3 border-0">
</main>