main {
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: #070f2b;
  position: relative;
  overflow: hidden;
}

.bg-image {
  background-image: url(../../../../assets/img/auth-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

mat-card {
  height: 75%;
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px;
  border-radius: 35px;
}

.content {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

#company-name {
  font-weight: bold;
}

mat-card-header {
  margin-bottom: 1.5rem !important;
}

mat-card-title {
  font-size: 22px;
  font-weight: bolder;
}

mat-card-subtitle {
  font-weight: 500;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

::ng-deep .mat-mdc-raised-button:not(:disabled) {
  background-color: #1e3163 !important;
  color: #f8f8f8 !important;
}

button:hover {
  background-color: #1a2547 !important;
}

a {
  text-decoration: none;
  color: #070f2b;
}

a > i {
  margin-right: 0.5rem;
}

img {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

::ng-deep .successMessage > .mdc-snackbar__surface {
  background-color: #6DB154 !important;
}

::ng-deep .failMessage > .mdc-snackbar__surface {
  background-color: #F96C57 !important;
}

mat-spinner {
  display: inline-block;
  height: 30px !important;
  width: 30px !important;
  color: white !important;
}
