main {
  position: absolute;
  height: 100vh;
  width: calc(100vw - 60px);
  max-height: 100vh;
  max-width: calc(100vw - 60px);
  left: 60px;
  padding: 30px;
}

a {
  text-decoration: none;
  color: black;
}

#back-link {
  font-size: 18px;
}

#back-link:hover {
  color: var(--button-background);
}

.containerr {
  position: relative;
  width: 100%;
  
}

h6 {
  font-size: smaller;
}

div:has(#page-title) {
  display: flex;
}

button {
  background: var(--button-background);
  border: none;
}

.top-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.top-button button {
  width: 110px;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  margin-right: 10px;
}

.top-button button:hover {
  background-color: #553cb9;
}

table {
  width: 100%;
  min-height: auto;
  border: 2px solid var(--white-smoke);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden !important;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

th {
  font-weight: 900;
  background-color: #f2f4f3 !important;
}

::ng-deep .mat-mdc-paginator {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.searchBar {
  position: relative;
}

.searchBar input[type="text"] {
  width: 100%;
  line-height: 2.5;
  padding: 0px 35px;
  border: 2px solid var(--white-smoke);
  border-radius: 10px;
}

.searchBar .fa-search {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  cursor: pointer;
  /* color: #9290c3; */
}
