<main>
    <div class="bg-image"></div>
    <mat-card class="row">
        <div class="col-6 h-100">
            <h6 id="company-name">FinancialPlanning</h6>
            <div class="d-flex flex-column justify-content-center "[ngStyle]="{'height': '90%'}">
                <mat-card-header class="mb-4">
                    <mat-card-title>Forgot password?</mat-card-title>
                    <mat-card-subtitle>No worries, we'll send you reset instructions.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form class="w-100" (ngSubmit)="onSubmit()">
                        <mat-form-field class="w-100 mb-2" hideRequiredMarker="true">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" placeholder="Ex. user@mail.com"
                                [formControl]="emailFormControl" required />
                            <mat-error
                                *ngIf="!emailFormControl.hasError('required') && emailFormControl.hasError('email')">Please
                                enter a valid email address</mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">Email is required</mat-error>
                        </mat-form-field>
                        <button mat-raised-button type="submit" class="w-100" [disabled]="isLoading">
                            <span *ngIf="isLoading"><mat-spinner [diameter]="20"></mat-spinner></span>
                            <span *ngIf="!isLoading">Reset password</span>
                        </button>
                    </form>
                    <a routerLink="/login" class="d-table mx-auto mt-2"><i class="fa-solid fa-arrow-left"></i>Back to log in</a>
                </mat-card-content>
            </div>
        </div>
        <img src="../../../../assets/img/forgot-password.png" alt="Forgot Password" class="col-6">
    </mat-card>
</main>