i {
  margin-right: 5px;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0;
  font-weight: bolder;
  float: right; 
  margin-left: 10px; 
  width: auto;
}


::ng-deep .success-snackbar .mdc-snackbar__surface{
  background-color: #4CAF50;
}
::ng-deep .error-snackbar .mdc-snackbar__surface{
  background-color: #FF5E5E;
}

span {
  color: white;
  font-weight: bolder;
}